name: go-pipeline
on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  test: 
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: subscription_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres -d subscription_test"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    container: golang:1.25
    env:
      DB_HOST: 127.0.0.1
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: subscription_test
      SERVER_PORT: 8080
      APP_ENV: test
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Download dependencies
        run: go mod download

      - name: Run unit tests (repository + handler)
        run: |
          go test -v ./internal/repository
          go test -v ./internal/handler

      - name: Vet
        run: go vet ./...

  deploy:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags')
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.CD_DOCHUB_ID}}
          password: ${{ secrets.CD_DOCHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta 
        uses: docker/metadata-action@v5.10.0
        with:
          images: elmar006/subscription_service

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: . 
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
