name: go-pipeline
on: push

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: subscription_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: subscription_test
      SERVER_PORT: 8080
      APP_ENV: test

    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Download dependencies
        run: go mod download

      - name: Wait for postgres
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do
            sleep 1
          done

      - name: Run migrations
        run: |
          psql postgresql://postgres:postgres@localhost:5432/subscription_test -f migrations/create_subscriptions.sql

      - name: Run tests
        run: go test -v ./...

      - name: Vet
        run: go vet ./...

  deploy:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags')
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.CD_DOCHUB_ID }}
          password: ${{ secrets.CD_DOCHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta 
        uses: docker/metadata-action@v5.10.0
        with:
          images: aristonm/sub-service-ci-cd

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: . 
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}